<div style="box-shadow: -1px -4px 6px #00000029;" class="pt-2">
  <div class="flex justify-between  container mx-auto py-5">
    <div>
      <img
      [src]="URL_IMAGE + data?.logo?.url"
      routerlink="#"
      alt=""
      class="logo"
      tabindex="0"
      width="150px"
    />
    </div>
    
    <div class="flex gap-5 ml-atuo gap-5">
      @for (item of data?.Menu; track item) {
      <div class="cursor-pointer flex flex-col gap-3" (click)="openPages(item)">
        <div class="mb-1 font-bold text-[16px]">{{ item?.Name }}</div>
        <hr style="width: 60px" />
        @for (subItem of item?.Submenu; track subItem) {
        <div class="text-[14px]">
          {{ subItem?.Name }}
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
