@if(isLoading) {
  <div style="display: flex;
      justify-content: center;
      align-items: center; height: calc(100vh - 300px);">
    <img
    class="object-cover"
    style="height: 50px"
    [src]="'https://media.tenor.com/-n8JvVIqBXkAAAAM/dddd.gif'"
  />
  </div>
}

@if(!isLoading) {
<div
  class="h-[600px] flex flex-col justify-center items-center gap-4"
  [ngStyle]="{ 'background-image': 'url(' + URL_IMAGE + knowLedHubData?.Banner?.Background?.[0]?.url + ')' }"
>
  <div
    class="flex justify-center text-[#FFFF] text-[56px] font-bold text-center"
  >
    {{ knowLedHubData?.Banner?.Title }}
  </div>
  <div class="flex justify-center text-[#FFFF] text-[22px] text-center">
    {{ knowLedHubData?.Banner?.Desc }}
  </div>
</div>
<!-- <app-blog-list [listBlog]="knowLedHubData?.ListBlog"></app-blog-list> -->
<div class="container flex gap-3 py-5 items-center" *ngIf="knowLedHubData">
  <div><i class="fa-light fa-filter"></i> Filter:</div>
  @for (item of filterData; track item) {
  <div
    class="cursor-pointer"
    (click)="selectFilter(item)"
    style="border: 1px solid #a9bac7; border-radius: 4px; padding: 5px 10px; font-weight: 200;"
    [ngStyle]="
      item?.isSelected ? { 'background-color': '#428d57', color: 'white' } : {}
    "
  >
    {{ item?.Text }}
  </div>
  }
</div>

<div class="container mx-auto p-4" *ngIf="listBlog?.length">
  <div class="grid grid-cols-2 gap-5">
    @for (item of listBlog; track item) {
    <div class="h-[357px] cursor-pointer" (click)="onDetail(item)">
      <div class="flex h-full">
        <div class="w-[300px] flex-shrink-0">
          @if(!item?.Iframe) {
          <img
            class="h-full object-cover"
            [src]="URL_IMAGE + item?.Image?.url"
          />
          } @if(item?.Iframe) {
          <app-iframe [src]="item?.Iframe"></app-iframe>
          }
        </div>
        <div class="mw-[300px] flex-grow bg-gray-100">
          <div class="flex flex-col gap-3 h-full p-3">
            <div class="font-bold text-2xl">{{ item?.Title }}</div>
            <div class="line-clamp-3 text-sm">{{ item?.Desc }}</div>
            <div class="flex gap-3 mt-auto">
              @for (contentType of item?.content_types; track contentType) {
              <div
                [ngClass]="{
                  'bg-[#469FB2]': contentType?.Name === 'Article',
                  'bg-[#856299]': contentType?.Name === 'Whitepaper',
                  'bg-[#F3B230]': contentType?.Name === 'Video',
                  'bg-[#DB877E]': contentType?.Name === 'Microcourse'
                }"
                class="py-1 px-2 rounded-[3px] text-white text-sm"
              >
                {{ contentType?.Name }}
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
<div
  class="container mx-auto p-4 flex justify-center pt-[30px] pb-[70px]"
  *ngIf="knowLedHubData && !listBlog?.length"
>
  No Data
</div>

}
