/* You can add global styles to this file, and also import other style files */
// @use "tailwindcss";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @media (min-width: 768px) {
//   .container,
//   .container-md,
//   .container-sm {
//     max-width: 720px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// @media (max-width: 768px) {
//   .container {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
//   }
// }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

html,
body {
  overflow: auto !important;
  height: auto !important;
}

a {
  color: #007bff;
}

.btn-green {
  color: #fff;
  background: #428d57 0% 0% no-repeat padding-box;
  border: 1px solid #428d57;
  border-radius: 4px;
  opacity: 1;
  font: normal normal medium 18px / 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

// @layer base {
//   h1 {
//     @apply text-4xl font-bold;
//   }
//   h2 {
//     @apply text-3xl font-bold;
//   }
//   h3 {
//     @apply text-2xl font-bold;
//   }
//   h4 {
//     @apply text-xl font-bold;
//   }
// }
